h1
{
    color: #000814;
    background-color:ffc300 ;
    padding: 15px;
    margin: 40px 15px 20px 10px; /*top right bottom left */
}
h2
{
    color: #001d3d;
    background-color:#ffc300;
    padding: 8px;
    margin: 9px;

}h3
{
    color: #ffd60a;
    background-color:#000814;
    padding: 12px;
    margin: 13px;
}
a:link, a:visited /*Como aparece el link antes de apretar en el y visited luego de apretar en el*/
{
    color:#000814;
    background-color: #ffd60a;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active /*Cuando nos ponemos encima del link y active cuando estamos dando click sobre el link*/
{
    color: rebeccapurple;
    background-color: blue;
    text-decoration: underline;
}

